/* Colors */
$main:#7aeb89be;
$navbar:#1B4859;
$typesBox:#d65a12bd;
$idColor:#f1094fda;
$linkColor:#0a0af5ea;
$error:#ff0000;
$correct:#099e09;
$border:#544666;
$white:#ffffff;
$cards:#d6daf0;
$loading:#7aeb8900;
$loading2:#031c2c;
