@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

.pokemon-card{
    border: 1px solid black;
    border-radius: 50%;
    width: f.rem(200);
    height: f.rem(200);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin:f.rem(5) 0;
}

.image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: gray;
}

.info{
    position: absolute;
    margin-left: f.rem(5);
    margin-bottom: f.rem(5);
    color:black;
    z-index: -1;
}

.title{
    margin-bottom: f.rem(2);
    text-transform: capitalize;
}

.types-container{
    display: flex;
    flex-direction: row;
}

.type{
    margin-right: f.rem(10);
    padding: f.rem(0.5) f.rem(5);
    color:white;
    background-color: black;
    border-radius: f.rem(8);
}
