@use "../base/settings";

#Create_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    width: 100vw;
}

#Form_mode{
    padding: 1vh 1vw;
    background-color: settings.$idColor;
    color:settings.$white;
}

#Create_form{
    margin: 0 2vw;
}

#Create_fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 1vh 0.5vw 1vh 0;
    width: 95vw;
    border: 2px dashed settings.$border;
    padding: 2vh 2vw;
    
    input,label,select{
        margin: 0.5vh 0;
    }
    input[type="submit"]{
        padding: 0.5vh 4vw;
        border:2px solid settings.$border;
        font-size: 0.8em;
        background-color: settings.$idColor;
        color:settings.$white;
        margin: 1vh 0vw 1vh 5vw;
    }
    input[type="submit"]:hover{
        background-color: settings.$white;
        color:settings.$idColor;
    }
    span{
        font-size: 0.7em;
        display: block;
    }
    label{
        display:block;
    }

    .Create_types{
        color: settings.$idColor;
    }

    .Creation_noDisplay{
        display:none;
    }

    @media only screen and (min-width:305px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        width: 80vw;
        input,select,span{
            margin: 0.5vh 10vw;
        }
        
    }

    @media only screen and (min-width:500px){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        width: 80vw;
        input,select,span{
            margin: 0.5vh 10vw;
        }
    }

    @media only screen and (min-width:800px){
        width: 55vw;
        input,select,span{
            margin: 0.5vh 10vw;
        }
    }
}



.error{
    color:settings.$error;
}

.correct{
    color:settings.$correct;
}

