@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:f.rem(80);
    width: 100vw;
    @include b.breakpoint(large){
        padding: 0 f.rem(16);
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-tint4);
    color: var(--secondary-shade3);
    font-size:20pt;
    margin: f.rem(24) 0 0 0;
    border-radius: f.rem(8);
    border:2pt solid var(--primary);
    padding: f.rem(8);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: f.rem(4);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter-title{
    margin-right: f.rem(4);
    font-weight: 600;
}

.filter-select{
    margin: f.rem(4);
    padding: f.rem(4) 0;
    background-color: var(--secondary-grayscale8);
    color:var(--primary-grayscale3);
    text-align: center;
    border: 2pt solid var(--secondary);
    border-radius: f.rem(4);
}

.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: f.rem(16);
}

.pagination-container{
    border: 1px solid black;
    border-radius: f.rem(8);
    width: 60%;
    height: f.rem(48);
    margin-bottom: f.rem(16);
    display: flex;
    justify-content: center;
}

.page{
    border: 1px solid black;
}