@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:f.rem(80);
    width: 100vw;
    @include b.breakpoint(large){
        padding: 0 f.rem(16);
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-tint4);
    color: var(--secondary-shade3);
    font-size:20pt;
    margin: f.rem(24) 0 0 0;
    border-radius: f.rem(8);
    border:2pt solid var(--primary);
    padding: f.rem(8);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: f.rem(4);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter-title{
    margin-right: f.rem(4);
    font-weight: 600;
}

.filter-select{
    margin: f.rem(4);
    padding: f.rem(4) 0;
    background-color: var(--secondary-grayscale8);
    color:var(--primary-grayscale3);
    text-align: center;
    border: 2pt solid var(--secondary);
    border-radius: f.rem(4);
}

.card-container{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: f.rem(16);
}

.pagination-container{
    border: 1px solid black;
    border-radius: f.rem(8);
    width: 100vw;
    height: fit-content;
    margin-bottom: f.rem(16);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page,.left-arrow,.right-arrow{
    width: f.rem(32);
    height: f.rem(32);
}

.page{
    margin: f.rem(4) f.rem(4) f.rem(4) f.rem(4);
    padding: 0 f.rem(8) 0 f.rem(8);
    
}

.left-arrow{
    margin: f.rem(4) f.rem(4) f.rem(4) f.rem(4);
    padding: 0 f.rem(3) 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    margin: f.rem(4) f.rem(4) f.rem(4) f.rem(4);
    padding: 0 0 0 f.rem(3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-left{
    padding-right: f.rem(1);
}

.double-right{
    padding-left: f.rem(1);
}