@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

#home-container{
    display: flex;
    flex-direction: column;
    margin-top:f.rem(80);
    @include b.breakpoint(large){
        margin-left: f.rem(20);
        margin-right: f.rem(20);
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container{
    flex:1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: gray;
    border-radius: f.rem(8);
    padding: f.rem(8);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin: f.rem(4);
    @include b.breakpoint(large){
        flex-direction: row;
    }
}

.filter-title{
    margin-right: f.rem(4);
    font-weight: 600;
}

.filter-select{
    margin: f.rem(4);
    background-color: white;
    text-align: center;
}

.card-container{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}