@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

.loading-container{
    display: flex;
    width: 100vw;
    padding: 0 20pt 0 20pt;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--secondary-grayscale1);
    font-size: f.rem(20);
}

.loading-outer{
    width: f.rem(140);
    height: f.rem(140);
    border-radius: 50%;
    margin: f.rem(80) 0 f.rem(40) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(50deg, 
    var(--primary-grayscale1)20%,
    rgba(31,26,20,30%)40%,
    rgba(31,26,20,20%)50%,
    rgba(31,26,20,5%)70%,
    var(--secondary-tint5)80%
    );
    animation:spin 1s linear infinite;
}

.loading-inner{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: var(--secondary-tint5);
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}