@use "../base/settings";

.loading-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    h3{
        margin: 10vh 10vw;
    }
}

.loading-load{
    position: relative;
    height: 200vh;
    width: 40vh;
    background: linear-gradient(45deg,settings.$loading 10%,settings.$loading2 90%);
    border-radius: 50%;
    object-fit: fill;
    animation: spin 1s linear infinite;
}

.loading-load::before{
    position: absolute;
    content: "";
    background: #9bf0a7;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}