@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
}

.container {
    width: 100%;
    margin: auto;
}
  
.navbar {
    width: 100vw;
    //box-shadow: 0 f.em(1) f.em(4) rgb(146 161 176 / 15%);
    background-color: var(--primary-tint4);
    color: var(--secondary-grayscale3);
    border-bottom: 2pt solid var(--primary);
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: f.em(62);
}
  
.navbar .menu-items {
    display: flex;
    z-index: 2;
}
  
.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    color:var(--secondary-grayscale3);
    text-decoration: none;
    font-weight: 600;
    font-size: f.rem(24);
}
  
.navbar .nav-container a:hover{
    font-weight: bolder;
}
  
.nav-container {
    display: block;
    position: relative;
    height: f.em(60);
}
  
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: f.em(40);
    width: f.em(40);
    top: f.em(10);
    left: f.em(12);
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: f.em(20);
    width: f.em(24);
    position: absolute;
    top: f.em(20);
    left: f.em(20);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.nav-container .hamburger-lines .line {
    display: block;
    height: f.em(4);
    width: 100%;
    border-radius: f.em(12);
    background-color: var(--secondary-grayscale3);
}
  
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.navbar .menu-items {
    background-color: var(--primary-tint5);
    padding-top: f.rem(64);
    height: 100vh;
    width: 110%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: f.rem(-16);
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: relative;
    z-index: 2;
    @include b.breakpoint(medium){
        width: 50%;
    }
    @include b.breakpoint(large){
        width: 40%;
    }
}
  
.navbar .menu-items li {
    margin: f.rem(8) 0;
    font-size: f.rem(20);
}

.nav-link{
    border-radius: f.rem(8);
    padding:f.rem(4);
    width: 50%;
}

.nav-link:hover{
    background-color: var(--secondary-tint3);
}

.search-container{
    display: flex;
    flex-direction: row;
    border: 3pt solid var(--secondary);
    border-radius: f.rem(8);
    background-color: var(--secondary-tint3);
}

.search-button{
    display: flex;
    border-radius: f.rem(8) 0 0 f.rem(8);
    border:none;
    padding: f.rem(2) 0 f.rem(2) f.rem(2);
    background-color: var(--secondary-tint3);
}

.search-input{
    width: f.rem(115);
    border-radius: 0 f.rem(8) f.rem(8) 0;
    border:none;
    padding: 0 0 f.rem(4) f.rem(12);
    background-color: var(--secondary-tint3);
}

.search-input:focus{
    outline: none;
}

.link-span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-icon{
    margin-left: f.rem(4);
}

.link-text{
    margin-left: f.rem(12);
}
  
.logo {
    position: absolute;
    top: f.rem(16);
    right: f.rem(20);
    font-size: 1.2rem;
}
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .logo{
    @include b.breakpoint-down(small){
        display: none;
    }
}