@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

.new-title{
    margin-top: f.rem(72);
    margin-left: 18pt;
    text-align: left;
    font-size: 24pt;
    color:var(--primary-grayscale4);
}

.form{
    margin-top: f.rem(8);
    display: flex;
    flex-direction: column;
    width: 100vw;
    @include b.breakpoint(medium){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.column{
    display:flex;
    flex-direction: column;
    width: 100vw;
}

.first,.second{
    @include b.breakpoint(medium){
        width: 50vw;
    }
    @include b.breakpoint(large){
        width: 33.33vw;
    }
}

.first{
    @include b.breakpoint(medium){
        justify-content: center;
    }
}

.third{
    @include b.breakpoint(medium){
        align-items: center;
    }
    @include b.breakpoint(large){
        width: 33.33vw;
        justify-content: center;
    }
}

.new-data,.new-types,.new-label,.mode{
    margin:f.rem(2) f.rem(15);
    @include b.breakpoint(medium){
        margin:f.rem(8) f.rem(40);
    }
    @include b.breakpoint(large){
        margin:f.rem(5) f.rem(14);
    }
}

.new-types{
    padding: f.rem(2) f.rem(5);
}

.new-label{
    color:var(--primary-grayscale3);
}

.new-data{
    padding: f.rem(2) f.rem(5);
    background-color: var(--primary-tint5);
    border: none;
    border-radius: f.rem(8);
    color: var(--secondary-grayscale4);
}

.new-data:focus{
    outline: none;
    border: 3pt solid var(--primary);
}



.mode{
    width: 28vw;
    text-align: center;
    background-color: var(--primary-tint4);
    border:solid 2pt var(--primary-shade2);
    color:var(--primary-shade2);
    border-radius: f.rem(8);
    margin-bottom: f.rem(16);
    cursor: pointer;
    padding: 0 f.rem(20);
    @include b.breakpoint(large){
        width: 12vw;
    }
}


.mode:hover{
    background-color: var(--primary);
    border-color: var(--primary-tint4);
    color: var(--primary-tint4);
}

.mode:active{
    background-color: var(--secondary-tint2);
    border-color: var(--secondary);
    color: var(--secondary-tint4);
}


.file{
    cursor: pointer;
    padding: f.rem(12);
}

.submit{
    display:flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    padding: f.rem(15);
}

.send{
    padding: f.rem(5) f.rem(20);
    border:none;
    background: linear-gradient(180deg,#F9D939 15%,var(--primary-tint3) 80%);
    box-shadow: 10px 25px 25px rgba(92,77,61,20%);
    color: var(--secondary-grayscale3);
    border-radius: f.rem(8);
    cursor: pointer;
}

.send:hover{
    background: var(--primary-tint2);
    color:var(--primary-tint4);
}

.send:active{
    background: var(--secondary);
    color:var(--primary);
}

.send:disabled{
    background: var(--primary-grayscale9);
    color:var(--secondary-grayscale5);
    border: 2pt solid var(--secondary-grayscale5);
    cursor:not-allowed;
}