@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

.new-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-container{
    border: 2pt solid var(--primary);
    border-radius:f.rem(8);
    margin:f.rem(88) 20pt 0 20pt;
    padding:f.rem(8) f.rem(12);
    background-color: var(--primary-tint5);
    min-width: calc(100vw - 40pt);
    @include b.breakpoint(medium){
        min-width: 60vw;
    }
    @include b.breakpoint(large){
        min-width: 40vw;
    }
}

.new-steps{
    text-align: right;
}

.new-buttons{
    display: flex;
    gap:f.rem(12);
    margin:f.rem(16) 0 f.rem(16) 0;
}

.new-back{
    flex:1;
    padding: f.rem(4) f.rem(4);
    border: 2pt solid var(--primary);
    border-radius:f.rem(8);
    background-color: var(--primary-tint4);
    color:var(--primary-shade3);
}

.new-back:hover{
    background-color: var(--primary);
    border-color: var(--primary-tint4);
    color:var(--primary-tint4);
}

.new-back:active{
    background-color: var(--secondary);
    border-color: var(--secondary-tint4);
    color: var(--secondary-tint4);
}

.new-next{
    flex:1;
    padding: f.rem(4) f.rem(4);
    border:none;
    background: linear-gradient(180deg,hsl(230, 88%, 70%) 15%,var(--secondary-tint3) 80%);
    box-shadow: 20px 30px 25px rgb(61,76,92,30%);
    color: var(--primary-grayscale4);
    border-radius: f.rem(8);
    cursor: pointer;
}

.new-next:hover{
    background: var(--secondary-tint2);
    color:var(--secondary-tint4);
}

.new-next:active{
    background: var(--primary-tint2);
    color: var(--secondary-grayscale4);
}

.new-next:disabled{
    background: var(--secondary-grayscale9);
    color: var(--primary-grayscale5);
    border: 2pt solid var(--primary-grayscale5);
    box-shadow: 0px 0px 0px 0px;
    cursor:not-allowed;
}

.new-cancel{
    margin:f.rem(16) 0 0 0;
    padding: f.rem(4) f.rem(16) f.rem(6) f.rem(16);
}

.form-warning{
    margin: f.rem(4) 0 0 0;
    color:var(--warning-tint2);   
}

.form-error{
    margin: f.rem(4) 0 0 0;
    color: var(--error-tint2);
}

.form-success{
    margin:f.rem(4) 0 0 0;
    color:var(--success-shade2);
}