@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

.picture{
    display: flex;
    flex-direction: column;
}

.mode{
    margin:0 0 f.rem(12) 0;
    padding:f.rem(4) 0 f.rem(4) 0;
    border-radius: f.rem(8);
    border:2pt solid var(--secondary-shade2);
    background-color: var(--secondary-tint4);
    color:var(--secondary-shade3);
    cursor: pointer;
}

.file{
    text-align: center;
}