@use "../base/settings";

.Pokemon_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100vw;
    height: fit-content;
    font-size: 80%;
    margin:0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
    border:1px solid settings.$border;
    border-radius: 20px;
    background-color: settings.$cards;

    img{
        width: 25vw;
        height: 25vh;
        object-fit:contain;
    }

    span{
        height: 5vh;
    }
    
    #Pokemon_types{
        margin:1vh 1vw;
    }

    a{
        color:settings.$linkColor;
        height: 10vh;
        margin: 0 0 1vh 0;
    }

    button{
        color:settings.$white;
        background-color: settings.$idColor;
        margin: 1vh 1vw;
        padding:1vh 1vw;
    }

    @media only screen and (min-width:580px){
        width: 49vw;
        height: 45vh;
    }

    @media only screen and (min-width:950px){
        width: 30vw;
        height: 45vh;
    }

    @media only screen and (min-width:1200px){
        width: 25vw;
        height: 50vh;
    }
}

#Pokemon_types{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin:0.25vh 0;
    }
}