#Search_container{
    display: flex;
    flex-direction: column;
    input{
        margin: 1vh 15vw;
    }
    button{
        margin: 1vh 30vw;
    }
    @media only screen and (min-width:826px){
        max-width: 30vw;
        input{
            margin:1vh 0;
        }
        button{
            margin: 1vh 0;
        }
    }
}