@use "../base";
@use "../base/breakpoints" as b;
@use "../base/functions" as f;

#container{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-tint4);
    color:var(--primary-grayscale1);
    border-radius: f.rem(8);
    width: 100%;
}

#container:hover{
    border: 3pt solid var(--secondary);
}

// .search-input{
//     outline: none;
//     border:none;
//     //width: f.rem(116);
//     //padding: f.rem(4) 0;
//     background-color: var(--secondary-tint4);
//     color:var(--primary-grayscale3);
//     border-radius: 0 f.rem(8) f.rem(8) 0;
// }

// .search-button{
//     border: none;
//     padding: f.rem(4);
//     background-color: var(--secondary-tint4);
//     color:var(--primary-grayscale3);
//     //width: f.rem(30);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: f.rem(8) 0 0 f.rem(8);
//     cursor: pointer;
// }